.main-content-panel {
    border-bottom:1px solid #A7ABB4;
    margin-top:2px;
}

.header-panel {
    min-height:64px;
    height:64px;
    width:100%;
}
.footer-panel {
    min-height:30px;
    height:30px;
    width:100%;
}
