

::selection { background-color: transparent; color: #4A5D75; }
::-o-selection { background-color: transparent; color: #4A5D75; }
::-moz-selection { background-color: transparent; color: #4A5D75; }
::-webkit-selection { background-color: transparent; color: #4A5D75; }

body, p, td, th, option, input, textarea, select {
    color: #000000;
    font:12px/1.4 arial,FreeSans,Helvetica,sans-serif;
}

a {
    outline : none;
    text-decoration: none;
}

a:active {
    outline : none;
}

a:link {
    outline : none;
}

a:focus {
  -moz-outline-style: none;
}

.description-label {
    font-size:1em!important;
    color:#C0C0C0;
}

.content-header-label {
    font-weight:BOLD;
    color: #4A5D75;
    font-size:16px!important;
    padding-bottom:8px;
}

.content-group-label {
    font-weight:BOLD;
    color: #A4A4A4;
    font-size:14px!important;
    height:20px;
    width:100%;
    padding-bottom:0px;
    margin-bottom:10px;
    padding-top:20px;
    border-bottom:1px solid #E0E0E0;
}

.inline-toolstrip {
    height:10px;
    opacity: .5;
}

.inline-toolstrip:hover {
    opacity: 1;
}


/* CellTable customization */

.default-cell-table{
    font-family:Arial, Verdana, sans-serif;
    font-size:11px;
    color: black;
    border: 1px solid #A7ABB4;
    width:100%;
    background-color:#ffffff;
}

.cellTableHeader {
    background:#FFFFFF url('images/sc/skins/Enterprise/images/ListGrid/header.png') repeat-x bottom left scroll;
    border-bottom:1px solid #A7ABB4;
    padding:4px;
    border-left:1px solid rgb(246,247,249);
    border-right:1px solid rgb(200,204,207);
    height:13px;
    font-weight:normal!important;
    text-align:left!important;
}

.cellTableEvenRow {

}

.cellTableOddRow {
    border-top: 1px solid #e5e5e5;
    background-color:#fafafa;
}

.cellTableCell {
    padding:5px;
}

.cellTableHoveredRow {
    background-color:#e5e5e5!important;
    -webkit-transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
    cursor: pointer;
}

.cellTableSelectedRow {
    background:#d9e4f6;
}

/*edit mode*/
.cellTableKeyboardSelectedRow {
/*background:none; doesn't work atm */
}

.section-stack {
    width:99%;
    margin:0px;
    border-left:1px solid #A7ABB4;
    border-right:1px solid #A7ABB4!important;
}

.stack-section-header {
    background-color: #F8F8F8;
    border-top: 1px solid #A7ABB4;
    border-bottom: 1px solid #A7ABB4;
    color: #606060;
    cursor: pointer;
    font-family: Arial,Verdana,sans-serif;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 2px;
    width: 100%;
}

.stack-section-header-selected {
    color:#000;
}

.stack-section-header-inline {
    font-family:Arial,Verdana,sans-serif;
    text-overflow:ellipsis;
    background-color:#F8F8F8;
    padding-left:10px;
    padding-top:6px;
    padding-bottom:4px;
    height:20px;
    color:#000;
    font-size:12px;
    border-top:1px solid #A7ABB4;
    border-bottom:1px solid #A7ABB4;
    cursor:pointer;
}

.stack-section {
    border-top: none!important;
    margin: 0;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

.lhs-nav-item {
    font-family:Arial,Verdana,sans-serif; font-size:11px; text-overflow:ellipsis;
    color:black;
    border-bottom:1px solid #E0E0E0;
    margin-left:15px;
    cursor:pointer;
    width:100%;
    min-height:20px;
}

.lhs-nav-item:hover {
    background-color:#d9e4f6;
}

.title-bar {
    font-family:Arial,Verdana,sans-serif;
    font-size:16px;
    font-weight:bold;
    text-overflow:ellipsis;
    background-image: url('images/sc/skins/Enterprise/images/ToolStrip/background.png');
    padding-left:10px;
    padding-top:6px;
    padding-bottom:6px;
    height:20px;
    width:100%;
    color:#4A5D75;
    border:1px solid #A7ABB4;
}

.form-item-title {
    font-size:8pt;
    padding-right:2px;
    color:#4A5D75;
    font-weight:bold;
    white-space:nowrap;
    text-align:right;
}

.form-item {
    padding-top:8px;
    padding-bottom:8px;
    padding-right:8px;
    padding-left:2px;
    min-width:150px;
}

.form-group-label {
    border-bottom: 1px solid #E0E0E0;
    color: #A4A4A4;
    font-size: 14px !important;
    font-weight: bold;
    height: 20px;
    margin-bottom: 10px;
    padding-bottom: 0;
    padding-top: 20px;
    width: 100%;
}

.group-item-title {
    color:#C0C0C0;
}

.default-fieldset {
    margin-top:8px!important;
    margin-botom:8px!important;
    border:none!important;
}


.default-legend {
    /*padding: 0.2em 0.5em;
    border:1px solid green;
    color:green;
    font-size:90%;
    text-align:right;*/
    color:#C0C0C0;
}


.gwt-SplitLayoutPanel-HDragger {
    cursor:col-resize;
/*background:url(images/sc/skins/Enterprise/images/Splitbar/vsplit_bg.png);*/
    /*border-left:1px solid #A7ABB4;
    border-right:1px solid #A7ABB4!important;*/
    border-left:1px solid #E0E0E0!important;
}

.gwt-SplitLayoutPanel-VDragger {
    cursor:row-resize;
}

.lhs-tree-item {
    cursor:pointer;
    color:#404040;
}

.lhs-tree-item:hover {
    background-color:#e5e5e5;
    -webkit-transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

.lhs-tree-item-selected {
    background-color:#d9e4f6;
}

.cell-record {
    border-bottom: 1px solid #A7ABB4;
    height: 20px;
    padding:5px;
}

.cell-list {
    width:98%;
}

.fill-layout {
    width:100%;
    height:100%;
    margin:0px;
}

.fill-layout-width {
    width:100%;
}

.fill-layout-height{
    height:100%;
    margin:0px;
}

.cross-reference {
    padding:4px;
    padding-bottom:8px;
}

.cross-reference:hover {
    text-decoration:underline;
    cursor:pointer;
}

.default-button {
    padding:2px 10px 2px 10px;
    font-size:11px;
    background:#DDDDDD url(images/sc/skins/Enterprise/images/cssButton/button_stretch.png) repeat-x;
    color:#000000;
    border:1px solid #A6ABB4;
    -moz-border-radius: 2px;
    border-radius: 2px;
    white-space:nowrap;
}

.default-button:hover {
    background:#B2D7FF url(images/sc/skins/Enterprise/images/cssButton/button_Over_stretch.png) repeat-x;
}

.default-popup {
    border: 1px solid #A7ABB4;
    background-color:#ffffff;
    padding:4px;

    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;

    z-index:20;
}

.message-list {
    width:100%;
    height:100%;
}

.combobox {
    padding:0px;
    margin:0px;
}



.combobox-value {

    border-left: 1px solid #A7ABB4;
    border-top: 1px solid #A7ABB4;
    border-bottom: 1px solid #A7ABB4;

    vertical-align:middle;

    padding-left:5px;

    height:20px;
    min-height:20px;

    font-size:10px;
    color:#000;

    margin:0px;
}

.combobox-value-disbaled {
    color:#A7ABB4!important;
}

.combobox-item {
    min-height:20px;
    white-space: nowrap;
    text-overflow:ellipsis;
    width:100%;
}

.combobox-item-odd {
    background-color: #FAFAFA;
    color:#000000!important;
}

.combobox-item-selected {
    color:#000000!important;
    font-weight:bold;
    background-color:#ffffff!important;
}


.default-window {
    border: 1px solid #A7ABB4;
    background-color:#ffffff;

    -moz-box-shadow: 2px 2px 3px #000000;
    -webkit-box-shadow: 2px 2px 3px #000000;
    box-shadow: 2px 2px 3px #000000;

    z-index: 10;
}

.default-window-header {
    border-bottom: 1px solid #A7ABB4;
    background-color:#FFFFFF;
    background-image: url('images/sc/skins/Enterprise/images/ToolStrip/background.png');
    color:#4A5D75;
    height:40px;
}

.default-window-title{
    padding: 10px;
    font-size:14px;
    font-weight: BOLD;
    color:#4A5D75;
}

.default-window-content {
    margin:5px;
    z-index: 15;
}

.gwt-PopupPanelGlass {
    background-color:#A7ABB4;
    filter:alpha(opacity=75);
    opacity:0.75;

    z-index: 5;
}

.default-tabpanel {
    width:100%;
    height:100%;
}

.header-content {
    font-size:22px;
    font-weight:bold;
    padding-left:10px;
}

.combobox-header {
    width:150px;
}

.combobox-value-header {
    font-size:18px;
    font-weight:bold;
    padding-left:5px;
}

.html-link {
    text-decoration:none;
    color:#4A5D75;
    cursor:pointer;
}

.html-link:hover {
    text-decoration:underline;
}

.default-toolstrip {
    width:100%;
    height:20px;
    padding: 4px 0px 4px 0px;
    background:url('images/sc/skins/Enterprise/images/ToolStrip/background.png') repeat-x;
}

.default-toolstrip-secondary {
    width:100%;
    height:20px;
    padding: 4px 0px 4px 0px;
    background:url('images/sc/skins/Enterprise/images/ToolStrip/background.png') repeat-x;
}

.toolstrip-button {
    background: url("images/buttons/button_bg.gif") repeat-x scroll 0 0 #DDDDDD;
    border: 1px solid #888888;
    border-radius: 2px 2px 2px 2px;
    color: #606060 !important;
    cursor: pointer;
    float: left;
    font-size: 10px;
    margin: 0 6px;
    outline: medium none;
    padding: 2px 10px;
    text-decoration: none;
    white-space: nowrap;

    -webkit-transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}


.toolstrip-button:hover {
    background:#B2D7FF url(images/sc/skins/Enterprise/images/cssButton/button_Over_stretch.png) repeat-x;
    color:#000!important;
}

.row-tools {
    visibility:hidden;
}

.row-tools-enabled {
    visibility:visible;
    cursor:pointer;
    text-decoration:underline;
}

.default-disclosure {
    margin-top:15px;
    margin-bottom:15px;
}

.popup-hint {
    font-size:10px;
    color:#000;
    background-color:#FFFFCC;
    padding:4px;
    -moz-box-shadow: 3px 3px 4px #c3c3c3;
    -webkit-box-shadow: 3px 3px 4px #c3c3c3;
    box-shadow: 3px 3px 4px #c3c3c3;

}

.edit-panel {

}


.menu-cell {
    background-color:#ffffff!important;
    border:none!important;
}

.menu-cell:hover {
    background-color:#d9e4f6!important;
}

.vertical-tabpanel-tab {
    padding:4px;
    border-top:1px solid #ffffff;
    border-right:1px solid #A7ABB4;
    border-bottom:1px solid #A7ABB4;
    background-color:#DDDDDD;
}

.vertical-tabpanel-tab-selected {
    border-top:1px solid #ffffff;
    border-right:1px solid #ffffff;
    border-bottom:1px solid #A7ABB4;
    background-color:#ffffff;
}

.vertical-tabpanel-tabs {
    margin-right:5px;
}

.gwt-TabPanel {

}

.gwt-TabBarFirst-wrapper {
    border-bottom:1px solid #A7ABB4;
    border-right:1px solid #808080;
    width:15px;
}

.gwt-TabBarRest-wrapper {
    border-bottom:1px solid #A7ABB4;
}
.gwt-TabPanelBottom {

}
.gwt-TabBar {

}

.gwt-TabBarItem-wrapper {
    background-image: none;
    border-top: 1px solid #A7ABB4;
    border-bottom: 1px solid #A7ABB4;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #808080;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #808080 !important;
    cursor: pointer;
    margin-left: 0px;
    min-width: 50px;
    padding: 6px 10px;
    text-align: center;
}

.gwt-TabBarItem-wrapper:hover {
    background: url("images/sc/skins/Enterprise/images/ToolStrip/background.png") repeat-x scroll 0 0 transparent;
}

.gwt-TabBarItem-wrapper-selected {
    background: url("images/sc/skins/Enterprise/images/ToolStrip/background.png") repeat-x scroll 0 0 transparent;
    background-color: #ffffff;
    color: #000000 !important;
    border-bottom: none!important;
    cursor: default;
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
}

.help-panel-open {

    background-color: #fdfcce;
    border:1px solid #cccccc;

     -moz-border-radius: 3px;
    border-radius: 3px;

    opacity: 1.0!important;

    -webkit-transition: opacity .15s ease-in-out .05s;
    -moz-transition: opacity .15s ease-in-out .05s;
    transition: opacity .15s ease-in-out .05s;
}

.help-panel {
    margin: 5px;
    width:99%;
    opacity:0.4;filter:alpha(opacity=40)
}

.help-panel:hover {

}

.window-content {
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
}

.default-window-footer {
    width:100%;
    height:16px;
    background-image: url(images/window/resizer.png);
    background-repeat:no-repeat;
    background-position:top right;
}

.rhs-content-panel {
    width:100%;
    padding:15px;
    padding-bottom: 50px;
}


.expression-input {
    border: 1px solid green;
}


.form-item-table{
    font-family:Arial, Verdana, sans-serif;
    font-size:11px;
    color: black;
    width:100%;
    background-color:#ffffff;
}

.formItemTableHeader {

}

.formItemTableFooter {

}

.formItemTableEvenRow {
    background-color:#ffffff;
}

.formItemTableOddRow {
    border-top: 1px solid #e5e5e5;
    background-color:#fafafa;

}

.formItemTableCell {
    padding-top:10px;
    padding-bottom:10px;
}

.formItemTableHoveredRow {
    background-color:#ffffff;
}

.formItemTableSelectedRow {
    background-color:#ffffff;
}

.formItemTableKeyboardSelectedRow {
    background-color:#ffffff;
}


.error-panel {
    margin-left:15px;
    margin-bottom:10px;
    padding-left: 20px;
    background-image: url(images/info/icn_info_red.png) ;
    background-repeat: no-repeat; float:left;
}